
.clr{
  clear:both;
}
body {
      margin:auto;
      width:auto;
      background-color: #FCFCFC !important;
      color: black !important;
      font-size: 24px;
      font-family: Arial, "Roboto", sans-serif,"Trebuchet MS", Helvetica;
      line-height: 1.6em;
      padding-bottom: 100px;
      width: 90%;
      margin:auto;
}

.main-title{
	text-align: left;
}

.sub-title{
	text-align: left;
}